---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <style>
    .news-month {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #ccc;
      margin: 5px 0;
      background: #f9f9f9;
      border-radius: 5px;
    }

    .news-month:hover {
      background: #e9e9e9;
    }

    .news-content {
      display: none; /* Initially hidden */
      padding-left: 20px;
      margin-top: 5px;
      border-left: 2px solid #007bff;
    }
  </style>

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
                    
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            <h2>About</h2>
            <p>The Kerner Lab focuses on advancing the foundations and applications of machine learning to foster a more sustainable, responsible, and fair future for all.</p>



            <!-- {% for post in site.posts %}
              {% include card.html %}
            {% endfor %} -->

              <!-- Recent News -->
              {% if site.news %}
                  {% assign sorted_news = site.news |  default: [] | sort: "date" | reverse %}
                  {% assign recent_news = sorted_news | slice: 0, 3 %}
                  {% assign older_news = sorted_news | slice: 3, sorted_news.size %}

                  <h2>Recent News</h2>
                  <hr>
                  <ul>
                    {% for news in recent_news %}
                      <li>
                        {{ news.date | date: "%B %Y" }}
                        <!-- {{ news.content}}  -->
                        <div>
                          {{ news.content | markdownify }}
                      </div>
                      </li>
                    {% endfor %}
                  </ul>
              {% endif %}
             
              
            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>
  

</html>
